@font-face {
    font-family: "Norse Bold";
    src: url("../assets/Norse-Bold.otf") format("opentype");
}

:root {
    --color-light: #efefef;
    --color-grey: #cfcfea;
    --color-dark: #0e0e0e;
    --color-banner: #0e0e0e66;
    --color-highlight: #5a7a4f;
    --main-text-shift: 3rem;
    font-size: 1vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    margin: 0;
    border: none;
}

.decoration {
    position: relative;
    flex: auto;
    display: flex;
    flex-basis: content;
    flex: content;

    >img {
        flex: 1;
        flex-basis: 100%;
        height: auto;
    }

    >.logo {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        color: var(--color-light);
        background-color: var(--color-banner);
        display: flex;
        justify-content: center;
        align-items: center;
    
        >img {
            height: 15rem;
            width: auto;
            opacity: 1;
            margin: 1%;
        }
    
        >span {
            font-family: "Norse Bold", sans-serif;
            width: 15rem;
            font-size: 10rem;
        }
    }

    .credits {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 95%;
        margin: 10px auto;
        color: color-mix(in srgb, var(--color-light) 75%, black);
        font-size: 1.8rem;

        >a {
            color: inherit;
        }
    }
}

#sign-up {
    height: 100%;
    flex: auto;
    background-color: var(--color-light);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: start;

    >p {
        margin: 0 var(--main-text-shift);
        font-size: 2rem;
        font-weight: 500;

        > emph {
            font-style: italic;
        }
    }

    >div {
        background-color: white;
        width: 100%;
        margin: 3rem 0 1rem;
        padding: 2rem var(--main-text-shift);
        display: grid;
        grid-template-columns: max(15rem, 30%) max(15rem, 30%);
        column-gap: max(5rem, 10%);
        box-shadow: 0 0.5rem 1rem var(--color-grey);
        box-sizing: border-box;

        >span {
            font-size: 2rem;
            font-weight: 500;
            grid-column: 1 / span 2;
            margin-bottom: 3rem;
        }

        >label {
            margin: 1rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            word-spacing: 0.3rem;

            >input {
                width: 100%;
                padding: 0.2rem;
                font-size: 1.5rem;
                border: 1px solid var(--color-light);
                border-radius: 0.5rem;
            }

            .error {
                border: 1px solid red;
            }

            :focus, :focus-visible {
                border: 1px solid rgb(79, 98, 184);
                box-shadow: 0.2rem 0.2rem 0.5rem var(--color-grey);
                outline: none;
            }
        }
    }

    >button {
        background-color: var(--color-highlight);
        color: var(--color-light);
        border: none;
        border-radius: 5%;
        margin: 0 var(--main-text-shift);
        padding: 1.5rem 5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    >span {
        color: var(--color-dark);
        margin: 0 var(--main-text-shift);
        font-size: 1.5rem;
        font-weight: 500;

        >a {
            color: var(--color-highlight);
            font-weight: 700;
            text-decoration: none;
        }
    }
}